.about__list{
    display: flex;
    gap:50px;
    margin-left: 325px;
    margin-bottom: 35px;
    
    
}

.about__list__item {
    color: #2f2f51;
    font-size: 18px;
}

.about-card {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 461px;
    margin-bottom: 68px ;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.about-card__left{
    position: relative;
}

.about-card__img {
    width: 595px;
    height: 461px;
    display: flex;
    background-image: url(../images/img5.png);
}


.about-card__info__logo {
    display: flex;
    /* position: absolute; */
    max-width: 198.12px;
    width: 50%;
    height: 139.46px;
    margin: 46px 365px 275px 50px;
}

.about-card__info__p {
    display: flex;
    position: absolute;
    margin: 0px 52px 0px 248px;
    bottom: 70px;
    font-size: 16px;
    line-height: 22px;
}

.advantages {
    width: 1250px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 100px;
    margin-bottom: 62px;
    
}

.adv-item {
    width: 340px;
    height: 114px;
    position: relative;

}

.item2 {
    width: 380px;
}

.adv-item__title {
    color: #2f2f51;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    margin-left: 110px;
}

.adv-item__img {
    position: absolute;
}


.adv-item__p{
    position: absolute;
    margin-left: 110px;
    margin-top: 40px;
    line-height: 26px;
}

.img2 {
    margin-right: 110px;
}

.item2__title {
    margin-left: 135px;
}

.item2_p {
    margin-left: 135px;
}

.adv-btn {
    margin-left: 430px;
    width: 312px;
    height: 54.5px;

}

.adv__btn2 {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 17px 23px 17px 31px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.75px;
}

.adv-btn__img {
    margin-right: 23px;
  }

  @media screen and (max-width: 992px) {
    .about-card {
        max-width: 880px;
        width: 880px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .about-card__img {
        width: 447px;
        height: 461px;
        background-image: url(../images/man2.png);
    }
    .about-card__left {
        width: 433px;
    }

    .about-card__info__p{
        margin-left: 103px;
        top: 247px;
    }

    .about__list{
        margin-left:20%;
        
    }
    .advantages{
        margin-left: 10%;
        max-width: 880px;
        
    }
    .adv-btn {
        margin-left: auto;
        margin-right: auto;
        
        
    }
  }
  
  
