.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    

}

.list {
    display: flex;
    gap: 0 25px;
}


.link {
    color: #000000;
    text-decoration: none;
}

.btn {
    display: flex;
    gap: 0 14px;
}

.btn-item {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
}

.img {
    margin-right: 12px;
}

.btn-orange {
    background-color: #EF7F04;
}

.btn-blue {
    background-color: #3B3A63;
}