.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.menu{
    display: none;
}
.list{
    display: flex;
    gap: 0 25px;
}


.link {
    color: #000000;
    text-decoration: none;
}

.btn {
    display: flex;
    gap: 0 14px;
}

.btn__item {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
}

.btn__item__img {
    margin-right: 12px;
}

.btn__orange {
    background-color: #EF7F04;
}

.btn__blue {
    background-color: #3B3A63;
}

@media screen and (max-width: 992px) {

    .list{
        display: none;
    }

    .header__logo{
        margin-left: 156px;
    }

    .menu{
        display: flex;
        position: absolute;
        left: 56px;
    }

    .btn{
        margin-right: 56px;
    }
  }
  