.questions{
    background-color: #EF7F1A;
    height: 791px;
    border-radius: 7px;
    margin-bottom: 75px;
    padding: 40px 101px 63px 101px;
}

.title-q {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 49px;
}

.question__item {
    display: flex;
    background-color: #FFFFFF;
    height: 100%;
    padding-top: 31px;
    padding-left: 19px;
    
}

.question__item__p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;  
    color: #2F2F51; 
    cursor: pointer;   
    margin-bottom: 30px;
    
}



/* .question__item__p:hover {
    color: #EF7F04;
} */

.question{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.question__item__tick {
    position: absolute;
    margin-left: 92%;
    cursor: pointer;
    
}

details > summary {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;

}

details > p {
    margin-bottom: 30px;
}

details:hover summary{
    color: #EF7F04;
}

details:hover svg path {
    stroke: #EF7F04;
}
details * {
    transition: all 0.5s ease-in;
}

details[open] svg {
    transform: rotate(180deg);
}

details {
    transition: height 0.6s ease-in;
    animation-iteration-count: infinite;
}

details:not([open]) {
    height: 80px;
}
details[open] {
    height: 131px;
}


details:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}


/* details summary::before {
    content: url(../images/tick.svg);
    position: absolute;
    margin-left: 94%;
    
}
details[open] summary::before {
    position: absolute;
    margin-left: 94%;
    transform: rotate(180deg);
    
} */




.question__item__tick:hover {
    transform: rotate(180deg);
}

@media screen and (max-width: 992px) {

    .questions{
        padding: 40px 40px 63px 40px;
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
    }
  }
